.App {
  text-align: center;
}

.App_form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 40px ;
  
}

.App_formControl{
  display: flex !important;
  flex-direction: row !important;
}

.App_input{
  flex: 1;
}

.App_iconButton{
  flex: 0;
}

.App_flipMove{
  margin-bottom: 150px;
}
